@model IEnumerable<RehabCV.Models.Group>

@{ ViewData["Title"] = "Групи захворювань"; }

@await Html.PartialAsync("_IndexHeader")

<h2 style="text-align: center">@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Додати групу захворювання</a> 
    <br><br>
    <a asp-controller="NumberOfCh" asp-action="Index" class="btn btn-primary">Кількість дітей в групі</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameOfDisease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentOfChildren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfDisease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentOfChildren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>

            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="width: 60%">Видалити</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_IndexFooter")